<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <!--div class="login center-block" [hidden]="isLoading">
      <h1>Login</h1>
      <form role="form" (submit)="login($event, username.value, password.value)">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" #username class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" #password class="form-control" id="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
        <a href="/signup">Click here to Signup</a>
      </form>
    </div-->
    <div style="text-align: center;">
      <h1>Login</h1>
      <p>You can login using the following methods:</p>
      <button [disabled]="!isReady" class="btn btn-primary" (click)="gotoProvider()" style="width: 100%"><i class="fa fa-openid"></i> OpenID</button>
    </div>
  </div>
</div>
