<div class="table-responsive">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th></th>
        <th>Identifier</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of points | async">
        <td>
          {{ i.id }}
        </td>
        <td>
          {{ i.identifier }}
        </td>
        <td>
          {{ i.name }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
