<div class="row">
  <div class="col-md-8">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">

      <div class="form-group row">
        <label class="col-sm-3 form-control-label">User</label>

        <div class="col-sm-4">
          <div class="input-group">
            <select class="form-control" name="user_id"
                [(ngModel)]="credential.user_id" #name="ngModel"
                [disabled]="availableUsers.length === 0">
              <option *ngFor="let user of availableUsers" [value]="user.id">{{user.name}}</option>
            </select>
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button" (click)="refreshUsers()"><i class="fa fa-refresh"></i></button>
            </span>
          </div>

          <span [hidden]="!loadingUsers"><i class="fa fa-spinner fa-pulse"></i></span>
        </div>
      </div>

      <div class="form-group row" [class.has-danger]="f.controls.identifier?.errors && f.controls.identifier.touched">
        <label class="col-sm-3 form-control-label" for="identifier">Credential Identifier</label>

        <div class="col-sm-6">
          <input type="text" class="form-control" name="identifier" placeholder="uid"
            [(ngModel)]="credential.identifier" #name="ngModel" 
            required minlength=4>
        </div>
      </div>

      <div class="form-group row" [class.has-danger]="f.controls.type?.errors && f.controls.type.touched">
        <label class="col-sm-3 form-control-label" for="type">Credential Type</label>

        <div class="col-sm-6">
          <input type="text" class="form-control" name="type" placeholder="mifare-1k" 
            [(ngModel)]="credential.type" #name="ngModel"
            required minlength=4>
        </div>
      </div>

      <button class="btn btn-success btn-sm" [disabled]="f.invalid" type="submit">
        <i class="fa fa-plus-circle"></i>
        Add
      </button>
    </form>
  </div>
</div>
