<div class="btn-group" role="group" aria-label="Actions..." [hidden]="adding">
  <button type="button" class="btn btn-primary btn-sm" (click)="add($event)">Add</button>
  <button type="button" class="btn btn-danger btn-sm" (click)="revoke($event)" [disabled]="selectedGrants.length == 0">Revoke</button>
</div>

<div class="table-responsive">
  <table class="table table-sm" [hidden]="adding">
    <thead>
      <tr>
        <th>
          <app-action-cb-all [selected]="selectedGrants" [selectable]="grants" (checkedChange)="checkedChange($event)"></app-action-cb-all>
        </th>
        <th>Point</th>
      </tr>
    </thead>
    <tbody>
      <template let-i="index" let-grant ngFor [ngForOf]="grants">
        <tr *ngIf="pointInfo[grant.point_id] === undefined">{{grant.point_id}}</tr>
        <tr *ngIf="pointInfo[grant.point_id]">
          <td>
            <app-action-cb [identifier]="grant.id" [selected]="selectedGrants"></app-action-cb>
          </td>
          <td>
            {{ pointInfo[grant.point_id].name }} : {{ pointInfo[grant.point_id].identifier }}
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</div>

<div *ngIf="adding">
  <form>
    <div class="form-group row">
      <label class="col-sm-3 form-control-label" for="user_id">User</label>
      <div class="col-sm-6">
        <select class="form-control" [(ngModel)]="selectedPoint" name="selectedPoint">
          <option *ngFor="let point of points" [value]="point.id">{{point.name}} : {{ point.identifier }}</option>
        </select>
      </div>
    </div>

    <div class="btn-group" role="group" aria-label="Actions...">
      <button class="btn btn-success btn-sm" type="submit" (click)="submit($event)" [disabled]="selectedPoint === null">
        <i class="fa fa-check"></i>
        Submit
      </button>
      <button class="btn btn-danger btn-sm" type="button" (click)="adding = false">Cancel</button>
    </div>
  </form>
</div>
